<div class="container col-sm-12">

  <div class="col-sm-10 float-left font-size-15">
    <div class="col-sm-12 display-table d-flex justify-content-center margin-top-20 padding border">
      <div class="top-right link">
        <i class="fas fa-edit text-bule-violet-light"></i>
      </div>
      <div class="bottom-right link margin-right-5">
        <i class="fas fa-trash text-bule-violet-light"></i>
      </div>
      <div class="padding">
        <div class="margin-top-5p float-left margin-right-5">
          <i class="fas fa-user-circle fa-7x text-bule-violet"></i>
        </div>
        <div class="float-left margin-left margin-top-5p font-size-15">
          <div class="display-table">
            <div class="text-bule-violet-light  float-left">ชื่อหน่วยงาน</div>
            <div class="margin-left float-left"><b>กองทุนเงินกู้ยืมเพื่อการศึกษา</b></div>
          </div>
          <div class="display-table">
            <div class="text-bule-violet-light  float-left">โทรศัพท์</div>
            <div class="margin-left float-left">0-2016-4888</div>
          </div>
          <div class="display-table">
            <div class="text-bule-violet-light  float-left">โทรสาร</div>
            <div class="margin-left float-left">0-2016-4800</div>
          </div>
          <div class="display-table">
            <div class="text-bule-violet-light  float-left">ที่อยู่</div>
            <div class="margin-left float-left">เลขที่ 89 อาคาร เอไอเอ แคปปิตอล เซ็นเตอร์ ชั้น 5-6 <br>ถนนรัชดาภิเษก
              แขวงดินแดง เขตดินแดง กทม. 10400</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 float-left d-flex justify-content-center">
    <div class="text-center col-sm-12 no-padding">
      <div class="link text-bule-violet-light" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fas fa-plus-circle"></i>
        เพิ่มข้อมูล
      </div>

      <div class="col-sm-12 bule-violet-light margin-top-10 display-table no-padding text-bule-violet-light">
        <div class="bg-white col-sm-12 margin-top-50p float-left">
          ประวัติการแก้ไข
          <i class="fas fa-edit"></i>
        </div>
        <div class="col-sm-12 text-white display-table bule-violet-light-white padding font-size-12">
          <div class="full-body display-table  padding border-bottom-1">
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">25/11/2018</div>
              <div class="float-right">มีนา</div>
            </div>
            <div class="clearfix"></div>
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">ชื่อ</div>
              <div class="float-right">11:20</div>
            </div>
          </div>
          <div class="full-body display-table  padding border-bottom-1">
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">25/11/2018</div>
              <div class="float-right">มีนา</div>
            </div>
            <div class="clearfix"></div>
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">ชื่อ</div>
              <div class="float-right">11:20</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xlg" role="document">
      <div class="modal-content">
        <aside class="col-sm-12 container no-margin-padding">
          <div class="modal-header bg-danger ">
            <h5 class="modal-title col-sm-12 text-center  text-white" id="exampleModalLongTitle">เพิ่มรายละเอียดหน่วยงาน
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="container padding font-size-15">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6 float-left">
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">ชื่อหน่วยงาน</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control ">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 float-left">
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 text-right col-form-label">เลขประจำตัวผู้เสียภาษี</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">รายละเอียดของหน่วยงาน</label>
                <div class="col-sm-9">
                  <textarea class="form-control" name="" id="" cols="30" rows="3"></textarea>
                </div>
              </div>

              <div>
                <h5>ที่ตั้งหน่วยงาน</h5>
                <div class="row">
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">เลขที่</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control ">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-5 text-right col-form-label">ถนน</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">ตรอก/ซอย</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control ">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-5 text-right col-form-label">จังหวัด</label>
                      <div class="col-sm-7">
                        <select class="form-control" required>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">เขต/อำเภอ</label>
                      <div class="col-sm-8">
                        <select class="form-control" required>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-5 text-right col-form-label">แขวง/ตำบล</label>
                      <div class="col-sm-7">
                        <select class="form-control" required>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">รหัสไปรษณีย์</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control ">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 float-left">
                  </div>
                </div>
              </div>

              <div>
                <h5>ที่อยู่สำหรับจัดส่งเอกสาร</h5>
                <div class="row">
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">เลขที่</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control ">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-5 text-right col-form-label">ถนน</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">ตรอก/ซอย</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control ">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-5 text-right col-form-label">จังหวัด</label>
                      <div class="col-sm-7">
                        <select class="form-control" required>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">เขต/อำเภอ</label>
                      <div class="col-sm-8">
                        <select class="form-control" required>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-5 text-right col-form-label">แขวง/ตำบล</label>
                      <div class="col-sm-7">
                        <select class="form-control" required>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 float-left">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">รหัสไปรษณีย์</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control ">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 float-left">

                  </div>
                </div>

              </div>
            </div>

            <div class="text-center col-sm-12">
              <button class="btn btn-primary">บันทึก</button>
              <button class="btn btn-danger margin-left" data-dismiss="modal">ยกเลิก</button>
            </div>
          </form>
        </aside>
      </div>
    </div>
  </div>
</div>