<div class="container ">
  <div class="col-sm-10 offset-sm-1 margin-top-20 border-shadow no-padding">
    <div class="bg-danger text-white text-center justify-content-center padding">
      <h4>{{'Manage-Data.title' | translate}}</h4>
    </div>
    <div class="padding container">
      <div class="col-sm-10 offset-sm-1 font-size-20">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-6 col-form-label">{{'Manage-Data.dateamount' | translate}}</label>
          <div class="col-sm-6">
            <input type="text" class="form-control bg-toolight">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-6 col-form-label">{{'Manage-Data.datestart' | translate}}</label>
          <div class="col-sm-6">
            <input type="text" class="form-control bg-toolight">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-6 col-form-label">{{'Manage-Data.time' | translate}}</label>
          <div class="col-sm-6">
            <input type="text" class="form-control bg-toolight">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-6 col-form-label">{{'Manage-Data.frequency' | translate}}</label>
          <div class="col-sm-6">
            <input type="text" class="form-control bg-toolight">
          </div>
        </div>
        <div class="col-sm-6 offset-sm-3 display-table margin-top-20">
          <button class="btn btn-primary margin-left float-left" >{{'Save' | translate}}</button>
          <button class="btn btn-danger margin-right float-right">{{'Cancle' | translate}}</button>
        </div>
      </div>

    </div>
  </div>
</div>