<div class="fullbody">
  <!-- <div class="col-sm-2 no-padding side-menu bule-violet text-center">
    <div class="full-body text-white margin-bottom-10">
      <div class="bg-white padding-bottom-30 padding-top-30 ">
        <i class="far fa-user-circle font-size-60 text-bule-violet padding"></i>
        <div class="col-12 ">
          <span class="border-bottom-3 text-bule-violet">{{data.userData.data[0].PersonName}}</span>
        </div>
      </div>

      <div class="w-100">
        <div class="w-100 text-left padding text-white">{{'Home.historyOfLogin' | translate}}</div>
        <div class="text-bule-violet">
          <div class="w-100 text-left padding bg-light margin-top-10 margin-bottom-10"
            *ngFor="let item of auditLog?.data">
            <i class="fas fa-user-circle font-size-25 text-danger d-inline"></i> {{item.PersonId}}
            <div class="d-inline margin-left">
              <div class="d-inline">{{item.CreateDate}}</div>
              <div class="d-inline float-right">09:32:16</div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div> -->

  <div class="col-sm-10 float-right margin-top-30 padding">

    <div>
      <h2 class="float-left">Your Application</h2>
      <div class="float-right link" data-toggle="modal" data-target="#exampleModalCenter" (click)="NewApplication()">
        <i class="fas fa-plus-circle"></i>
        {{'buttonInsert' | translate}}

      </div>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="data.application?.length == 0" class="font-size-48 margin-top-20 text-center">
        {{'NotFoundData' | translate}}
      </div>
    <div class="margin-left-15p" *ngIf="data.application?.length > 0">
      <div class="text-center col-3 item padding margin float-left"
        *ngFor="let item of data.application | slice: (data.pageNum-1) * data.pageSize : (data.pageNum-1) * data.pageSize + data.pageSize">
        <img class="margin-top-15p" width="50px" height="50px" src="assets/image/copy.png" alt="">
        <div class="btn-radius margin-top-10 col-8 offset-2 btn-primary">{{item.ApplicationName}}</div>
        <div class="margin-top-20">
          <i (click)="Edit(item)" data-toggle="modal" data-target="#exampleModalCenter"
            class="fas fa-edit text-bule-violet-light"></i>
          <i data-toggle="modal" data-target="#deleteModal" (click)="Delete(item)"
            class="fas link fa-trash text-bule-violet-light margin-left-20"></i>

        </div>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="col-12 justify-content-center">
      <ngb-pagination [(page)]="data.pageNum" [pageSize]="data.pageSize" [maxSize]="5"
        [collectionSize]="data.application?.length"></ngb-pagination>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <aside class="col-sm-12 container no-margin-padding">
            <div class="modal-header bg-danger ">
              <h5 class="modal-title col-sm-12 text-center  text-white" id="exampleModalLongTitle"
                (click)="NewApplication()">
                {{'buttonInsert' | translate}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="container padding">
              <div class="form-group row no-margin margin-top-20">
                <label for="inputPassword"
                  class="col-sm-3 col-form-label no-padding">{{'Home.SystemName' | translate}}</label>
                <div class="col-sm-9 no-padding">
                  <input type="text" class="form-control" name="applicationName"
                    [(ngModel)]="applicationItem.ApplicationName">
                </div>
              </div>
              <div class="form-group row no-margin margin-top-20">
                <label for="inputPassword"
                  class="col-sm-3 col-form-label no-padding">{{'Home.LinkUrl' | translate}}</label>
                <div class="col-sm-9 no-padding">
                  <input type="text" class="form-control" name="linkUrl" [(ngModel)]="applicationItem.LinkURL">
                </div>
              </div>
              <div class="form-group row no-margin margin-top-20">
                <label for="inputPassword"
                  class="col-sm-3 col-form-label no-padding">{{'Home.Details' | translate}}</label>
                <div class="col-sm-9  no-padding">
                  <input type="text" class="form-control" name="details" [(ngModel)]="applicationItem.Detail">
                </div>
              </div>
              <div class="input-group row no-margin margin-top-20">
                <label for="inputPassword"
                  class="col-sm-3 col-form-label no-padding">{{'Home.AttachmentsFile' | translate}}</label>

                <div class="custom-file col-sm-9">
                  <input type="file" accept="image/*" (change)="processFile($event)" class="custom-file-input"
                    id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="file" [(ngModel)]="path">
                  <label class="custom-file-label" for="inputGroupFile01">{{path}}</label>
                </div>
              </div>
              <div class="text-center margin-top-20">
                <button class="btn btn-primary" data-dismiss="modal"
                  (click)="onSubmit()">{{'Save' | translate}}</button>
                <button class="btn btn-danger margin-left" data-dismiss="modal">{{'Cancle' | translate}}</button>
              </div>

            </form>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <aside class="col-sm-12  col-12 container no-margin-padding">
          <div class="modal-header bg-danger ">
            <h5 class="modal-title col-sm-12  col-12 text-center  text-white" id="exampleModalLongTitle">
              {{'deleteConfirm' |translate }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="container padding">
            <div class="col-sm-8  col-8 float-left">
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3  col-3 col-form-label">{{'name' | translate}}
                  {{deleteApplication?.ApplicationName}}</label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-sm-12  col-12">
              <button (click)="ConfirmDelete()" data-dismiss="modal"
                class="btn btn-primary">{{'Save' | translate}}</button>
              <button class="btn btn-danger margin-left" data-dismiss="modal">{{'Cancle' | translate}}</button>
            </div>
          </form>
        </aside>
      </div>
    </div>
  </div>
</div>