<div class="full-body ">

  <div class="col-sm-12 margin-top-20 padding">
    <div class="col-sm-10 offset-sm-1">
      <div class="bg-danger row col-sm-12 text-center text-white padding justify-content-center">
        <h5>{{'ChangePassword.title' | translate}}</h5>
      </div>
      <div class="row col-sm-8 offset-sm-2 padding display-table border-bottom-2-gray padding-tb-10">
        <!-- <div class="form-group row no-margin margin-top-20">
          <label for="inputPassword"
            class="col-sm-3 col-form-label no-padding">{{'ChangePassword.oldpassword' | translate}}</label>
          <div class="col-sm-9 no-padding">
            <input type="password" class="form-control" name="oldPassword" [(ngModel)]="oldPassword">
          </div>
        </div> -->
        <div class="col-sm-6">
          <div class="form-group row no-margin margin-top-20">
            <label for="inputPassword"
              class="col-sm-3 col-form-label no-padding">{{'ChangePassword.newpassword' | translate}}</label>
            <div class="col-sm-9 no-padding">
              <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword">
            </div>
          </div>
          <div class="form-group row no-margin margin-top-20">
            <label for="inputPassword"
              class="col-sm-3 col-form-label no-padding">{{'ChangePassword.confirmpassword' | translate}}</label>
            <div class="col-sm-9 no-padding">
              <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="text-danger">
            {{'passwordDescription' | translate}}
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="text-center col-sm-12  col-12 margin-top-10">
        <button (click)="Save()" data-dismiss="modal" *ngIf="data.changePasswordPermission.Edit == '1'"
          class="btn btn-primary">{{'Save' | translate}}</button>
        <button class="btn btn-danger margin-left" data-dismiss="modal">{{'Cancle' | translate}}</button>
      </div>
    </div>
  </div>
</div>