<div class="container no-padding  margin-top-20 border-shadow margin-bottom-10">
  <div class="col-sm-12 no-padding">
    <div class="text-white text-center justify-content-center no-padding">
      <h4 class="bg-danger padding">{{'Permission.SetPermission' | translate}}</h4>
    </div>
    <button class="col-sm-4 btn btn-success margin-left float-right margin-bottom-10" (click)="NewPermission()"
      data-toggle="modal" data-target="#exampleModalCenter">{{'Permission.CreatePermission' | translate}}</button>
    <div class="clearfix"></div>
    <div class="container no-padding">
      <div class="col-sm-12 font-size-20 no-padding">
        <div class="w-100 d-flex border-gray">

          <table class="table w-100">
            <thead class="bg-danger text-white text-center">
              <tr>
                <th scope="col">{{'Permission.GroupName-Person' | translate}}</th>
                <th scope="col">{{'Permission.Menu' | translate}}</th>
                <th scope="col">{{'Permission.Permission' | translate}}</th>
                <th scope="col">{{'Permission.Status' | translate}}</th>
                <th scope="col">{{'Permission.Edit' | translate}}</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let item of data.permission | slice: (data.pageNum-1) * data.pageSize : (data.pageNum-1) * data.pageSize + data.pageSize">
                <td class="text-center">{{item.PermissionName}}</td>
                <td class="text-center">{{item.MenuName}}</td>
                <td class="text-center">{{item.PermissionType}}</td>
                <td class="text-center">{{item.IsActive}} </td>
                <td class="text-center link" data-toggle="modal" data-target="#exampleModalCenter" (click)="Edit(item)">
                  <i class="fas fa-edit text-bule-violet-light"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clearfix"></div>
        <div class="col-12 justify-content-center mb-5 margin-top-10">
          <ngb-pagination [(page)]="data.pageNum" [pageSize]="data.pageSize" [maxSize]="5"
            [collectionSize]="data.permission?.length"></ngb-pagination>
        </div>
      </div>
      
      <modal #myModal>
        <modal-header class="col-12 no-padding">
          <h5 class="modal-title col-sm-12 text-center  text-white float-left" id="exampleModalLongTitle">
            {{'Permission.SetPermission' | translate}}</h5>
          <button type="button" class="close no-margin ab" (click)="CloseModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </modal-header>
        <modal-content>
          <div>
            <div class="modal-content">
              <aside class="col-sm-12 container no-margin-padding">
                <form class="container padding">
                  <div class="col-sm-12 float-left">
                    <div class="border-bottom-black-5 padding">
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">
                          {{'Permission.PermissionName' | translate}}</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" [ngClass]="{'is-invalid': err.name}"  name="name" [(ngModel)]="permissionItem.name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">
                          {{'Permission.PermissionStatus' | translate}}</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" [ngClass]="{'is-invalid': err.status}" name="status" [(ngModel)]="permissionItem.status">
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 margin-top-10">
                      <div class="title">
                        {{'Permission.ManagePermission' | translate}}
                      </div>
                      <div>
                        <table class="table">
                          <thead>
                            <tr>
                              <th class="text-center" scope="col"> {{'Permission.No' | translate}}</th>
                              <th class="text-center" scope="col"> {{'Permission.Menu' | translate}}</th>
                              <th class="text-center" scope="col"> {{'Permission.All' | translate}}</th>
                              <th class="text-center" scope="col"> {{'Permission.View' | translate}}</th>
                              <th class="text-center" scope="col"> {{'Permission.Add' | translate}}</th>
                              <th class="text-center" scope="col"> {{'Permission.Edit' | translate}}</th>
                              <th class="text-center" scope="col"> {{'Permission.Delete' | translate}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of application;let i = index">
                              <th class="text-center" scope="row">{{i+1}}</th>
                              <td class="text-center">{{item.ApplicationName}}</td>
                              <td class="text-center"> <input type="checkbox" class="form-check-input" (change)="Check($event,item,'checkAll')" [checked]="item.isViewChecked == '1' && item.isEditChecked == '1' && item.isAddChecked == '1' && item.isDeleteChecked == '1'" name="" id=""></td>
                              <td class="text-center"> <input type="checkbox" class="form-check-input" (change)="Check($event,item,'view')"  [checked]="item.isViewChecked == '1' ? true:false" name="" id=""></td>
                              <td class="text-center"> <input type="checkbox" class="form-check-input" (change)="Check($event,item,'add')" [checked]="item.isAddChecked == '1' ? true:false" name="" id=""></td>
                              <td class="text-center"> <input type="checkbox" class="form-check-input" (change)="Check($event,item,'edit')" [checked]="item.isEditChecked == '1' ? true:false" name="" id=""></td>
                              <td class="text-center"> <input type="checkbox" class="form-check-input" (change)="Check($event,item,'delete')" [checked]="item.isDeleteChecked == '1' ? true:false" name="" id=""></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </aside>
            </div>

          </div>
        </modal-content>
        <modal-footer class="text-center">
          <div class="text-center margin-top-20">
            <button (click)="SaveRole()" data-dismiss="modal" class="btn btn-primary">{{'Save' | translate}}</button>
            <button class="btn btn-danger margin-left" (click)="CloseModal()"
              data-dismiss="modal">{{'Cancle' | translate}}</button>
          </div>
        </modal-footer>
      </modal>
    </div>