<div class="container no-padding  margin-top-20 border-shadow margin-bottom-10">
  <div class="col-sm-12 no-padding">
    <div class="text-white text-center justify-content-center no-padding">
      <h4 class="bg-danger padding">กำหนดสิทธิการใช้งาน</h4>
      <div class="ht-200 bg-white"></div>
    </div>

    <div class="container no-padding">
      <div class="col-sm-12 font-size-20 no-padding">
        <div class="d-flex border-gray">

          <div class="col-sm-6 no-padding">
            <div class="col-sm-12 no-padding">
              <div class="w-99 text-white text-center justify-content-center no-padding">
                <h6 class="bg-danger padding">ชื่อผู้ใช้งาน/กลุ่มผู้ใช้งาน</h6>
                <div class="ht-200 bg-white"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 no-padding">
            <div class="w-99 float-right text-white text-center justify-content-center">
              <h6 class="bg-danger padding">สิทธิที่ได้รับ</h6>
              <div class="ht-200 bg-white"></div>
            </div>
          </div>
        </div>


        <div class="col-sm-4 offset-sm-4 display-table margin-top-20 margin-bottom-10">
          <button class="btn btn-primary margin-left float-left">บันทึก</button>
          <button class="btn btn-danger margin-right float-right" data-dismiss="modal">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>