<div class="container col-sm-12">

  <div class="col-sm-10 float-left font-size-15">
    <div class="col-sm-12 display-table d-flex justify-content-center margin-top-20 padding border" *ngFor="let item of getDepartment?.data">
      <div class="top-right link">
        <i class="fas fa-edit text-bule-violet-light"></i>
      </div>
      <div class="bottom-right link margin-right-5">
        <i class="fas fa-trash text-bule-violet-light"></i>
      </div>
      <div class="padding">
        <div class="margin-top-10 float-left">
          <i class="fas fa-user-circle fa-7x text-bule-violet"></i>
        </div>
        <div class="float-left margin-left margin-top-5p">
          <div class="float-left">
            <span class="float-left">
              <span class="text-bule-violet-light  float-left">ชื่อ - นามสกุล</span>
              <span class="margin-left float-left">{{item.PersonName}}</span>
            </span>

          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">เบอร์โทรภายนอก</div>
              <div class="margin-left float-left">{{item.Contact}}</div>
            </div>
            <div class=" margin-left-20 float-left">
              <div class="text-bule-violet-light  float-left">อีเมล์</div>
              <div class="margin-left float-left"></div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">ฝ่ายงาน</div>
              <div class="margin-left float-left">{{item.PersonPosition}}</div>
            </div>
            <div class=" margin-left-20 float-left">
              <div class="text-bule-violet-light  float-left">ตำแหน่ง</div>
              <div class="margin-left float-left">{{item.PersonDepartment}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-2 float-left d-flex justify-content-center">
    <div class="text-center col-sm-12 no-padding">
      <div class="link text-bule-violet-light" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fas fa-plus-circle"></i>
        เพิ่มข้อมูล
      </div>

      <div class="col-sm-12 bule-violet-light margin-top-10 display-table no-padding text-bule-violet-light">
        <div class="bg-white col-sm-12 margin-top-50p float-left">
          ประวัติการแก้ไข
          <i class="fas fa-edit"></i>
        </div>
        <div class="col-sm-12 text-white display-table bule-violet-light-white padding font-size-12">
          <div class="full-body display-table  padding border-bottom-1">
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">25/11/2018</div>
              <div class="float-right">มีนา</div>
            </div>
            <div class="clearfix"></div>
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">ชื่อ</div>
              <div class="float-right">11:20</div>
            </div>
          </div>
          <div class="full-body display-table  padding border-bottom-1">
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">25/11/2018</div>
              <div class="float-right">มีนา</div>
            </div>
            <div class="clearfix"></div>
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">ชื่อ</div>
              <div class="float-right">11:20</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <aside class="col-sm-12 container no-margin-padding">
          <div class="modal-header bg-danger ">
            <h5 class="modal-title col-sm-12 text-center  text-white" id="exampleModalLongTitle">เพิ่มรายละเอียดบุคคล
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="container padding">
            <div class="bule-violet-light-less col-sm-12 d-flex padding">
              <div class="col-sm-8 float-left">
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">ชื่อฝ่ายงาน</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">ชื่อหน่วยงาน</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row no-margin-bottom">
                  <label for="inputPassword" class="col-sm-3 col-form-label">รายละเอียด</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control">
                  </div>
                </div>

              </div>
              <div class="col-sm-4 float-left margin-top-20">
                <div class="text-center">
                  <img src="assets/image/user.png" width="100px" alt="">
                </div>
              </div>
            </div>


            <div class="clearfix"></div>

            <table class="table col-sm-10 offset-sm-1 margin-top-20">
              <thead class="bg-blue-dark text-white">
                <tr>
                  <th scope="col">ชื่อ-นามสกุล</th>
                  <th scope="col">ที่อยู่ที่จัดส่ง</th>
                </tr>
              </thead>
              <tbody class="bg-violet-less text-white">
                <tr>
                  <td>สมศักดิ์ สารดี</td>
                  <td>เลขที่ 173 ถนนดินแดง ตรอก/ซอย- ตำบล/แขวง เสาชิงช้า</td>
                </tr>
                <tr>
                  <td>วิษนา กระตี่</td>
                  <td>เลขที่ 173 ถนนดินแดง ตรอก/ซอย- ตำบล/แขวง เสาชิงช้า</td>
                </tr>
                <tr>
                  <td>สมหมาย สารดี</td>
                  <td>เลขที่ 173 ถนนดินแดง ตรอก/ซอย- ตำบล/แขวง เสาชิงช้า</td>
                </tr>
              </tbody>
            </table>
            <div class="bg-violet-less  border-radius padding d-flex">
              <div class="bg-white float-left padding margin-left">สมศักดิ์ สารดี <i class="far fa-times-circle margin-left link"></i></div>
              <div class="bg-white float-left padding margin-left">วิษนา กระตี่ <i class="far fa-times-circle margin-left link"></i></div>
            </div>
            <div class="text-center col-sm-12 margin-top-20">
              <button class="btn btn-primary">บันทึก</button>
              <button class="btn btn-danger margin-left" data-dismiss="modal">ยกเลิก</button>
            </div>
          </form>

        </aside>
      </div>
    </div>
  </div>
</div>