<div class="container col-sm-12 col-12">
  <div *ngIf="data.department?.length == 0" class="col-10 col-sm-10 float-left font-size-48 margin-top-10p text-center">
    {{'NotFoundData' | translate}}
  </div>
  <div *ngIf="data.department?.length > 0" class="col-sm-10 col-10 float-left font-size-20">
    <div class="col-sm-12 col-12 display-table d-flex justify-content-center margin-top-20 padding border"
      *ngFor="let item of data.department  | slice: (data.pageNum-1) * data.pageSize : (data.pageNum-1) * data.pageSize + data.pageSize">
      <div class="top-right link">
        <i class="fas fa-edit text-bule-violet-light" (click)="Edit(item)"></i>
      </div>
      <div class="bottom-right link margin-right-5" data-toggle="modal" data-target="#deleteModal"
        (click)="DeleteDepartment(item)">
        <i class="fas fa-trash text-bule-violet-light"></i>
      </div>
      <div class="padding">
        <div class="margin-top-10 float-left">
          <i class="fas fa-user-circle fa-7x text-bule-violet"></i>
        </div>
        <div class="float-left margin-left margin-top-5p">
          <div class="float-left">
            <span class="float-left">
              <span class="text-bule-violet-light  float-left">{{'fullname' | translate}}</span>
              <span class="margin-left float-left">{{item.Title}}{{item.Fname}} {{item.Lname}}</span>
            </span>

          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">{{'externalPhone' | translate}}</div>
              <div class="margin-left float-left">{{item.DepartmentPhone}}</div>
            </div>
            <div class=" margin-left-20 float-left">
              <div class="text-bule-violet-light  float-left">{{'email' | translate}}</div>
              <div class="margin-left float-left">{{item.DepartmentDetail}}</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">{{'department' | translate}}</div>
              <div class="margin-left float-left">{{item.DepartmentName}}</div>
            </div>
            <div class=" margin-left-20 float-left">
              <div class="text-bule-violet-light  float-left">{{'position' | translate}}</div>
              <div class="margin-left float-left">{{item.Position}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-2 col-2 float-left d-flex justify-content-center">
    <div class="text-center col-sm-12 col-12 no-padding">
      <div class="link text-bule-violet-light" (click)="Insert()">
        <i class="fas fa-plus-circle"></i>
        {{'buttonInsert' | translate}}
      </div>

      <div class="col-sm-12 col-12 bule-violet-light margin-top-10 display-table no-padding text-bule-violet-light">
        <div class="bg-white col-12 col-sm-12 margin-top-50p float-left">
          {{'history.edit' | translate}}
          <i class="fas fa-edit"></i>
        </div>
        <div class="scroll-y d-block mxh-400 float-left w-100">
          <div class="col-sm-12 col-12 text-white display-table bule-violet-light-white padding font-size-15">
            <div class="full-body display-table  padding border-bottom-1" *ngFor="let item of data?.departmentLog">
              <div class="full-body">
                <div class="float-left d-flex justify-content-start">{{item.Date}}</div>
                <div class="float-right">{{item.Month}}</div>
              </div>
              <div class="clearfix"></div>
              <div class="full-body">
                <div class="float-left d-flex justify-content-start">{{item.EventLog}}</div>
                <div class="float-right">{{item.Time}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clearfix"></div>
  <div class="col-12 justify-content-center margin-top-10">
    <ngb-pagination [(page)]="data.pageNum" [pageSize]="data.pageSize" [maxSize]="5"
      [collectionSize]="data.department?.length"></ngb-pagination>
  </div>

  <modal #myModal>
    <modal-header class="col-12 no-padding">
      <h5 class="modal-title col-sm-12 text-center  text-white float-left" id="exampleModalLongTitle">
        {{'Department.AddDepartmentData' | translate}}</h5>
      <button type="button" class="close no-margin ab" (click)="CloseModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </modal-header>
    <modal-content>
      <div>
        <div class="modal-content">
          <aside class="col-sm-12 container no-margin-padding">

            <form class="container padding">
              <div class="bule-violet-light-less col-sm-12 col-12 d-flex padding">
                <div class="col-sm-12 col-12 float-left">
                  <div class="form-group row">
                    <label for="inputPassword"
                      class="col-sm-3 col-3 col-form-label">{{'Department.departmentName' | translate}}</label>
                    <div class="col-sm-9 col-9">
                      <input type="text" class="form-control" name="departmentName"
                        [(ngModel)]="department.DepartmentName">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword"
                      class="col-sm-3 col-3 col-form-label">{{'Department.organizationName' | translate}}</label>
                    <div class="col-sm-9 col-9">
                      <select class="form-control" [(ngModel)]="department.OrganizationId" name="organizationName"
                        (change)="SelectOrganization($event.target.value)" required>
                        <option *ngFor="let item of allOrganization?.data" value="{{item.OrganizationId}}">
                          {{item.OrganizationName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <label for="inputPassword"
                      class="col-sm-3 col-3 col-form-label">{{'Department.detail' | translate}}</label>
                    <div class="col-sm-9 col-9">
                      <input type="text" class="form-control" name="detail" [(ngModel)]="department.Detail">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword"
                      class="col-sm-3 col-3 col-form-label">{{'internalPhone' | translate}}</label>
                    <div class="col-sm-9 col-9">
                      <input type="text" class="form-control" name="DepartmentPhone"
                        [(ngModel)]="department.DepartmentPhone">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-3 col-form-label">{{'email' | translate}}</label>
                    <div class="col-sm-9 col-9">
                      <input type="text" class="form-control" name="email" [(ngModel)]="department.email">
                    </div>
                  </div>
                </div>
                <!-- <div class="col-sm-4 col-4 float-left margin-top-20">
                        <div class="text-center">
                          <input type="file" name="" id="" #uploader (change)="uploadFile($event)" hidden>
                          <img class="rounded-circle image-cover" src="{{image}}" height="100px" width="100px" alt=""
                            (click)="uploader.click()">
        
                        </div>
                      </div> -->
              </div>


              <div class="clearfix"></div>

              <!-- <table class="table col-sm-10 col-10 offset-sm-1 margin-top-20">
                      <thead class="bg-blue-dark text-white d-block w-100">
                        <tr class="d-table w-100">
                          <th style="width:50%;" scope="col">{{'fullname' | translate}}</th>
                          <th style="width:50%;" scope="col">{{'Department.contact' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="bg-violet-less text-white ht-400 d-block overflow-auto">
                        <tr *ngFor="let item of persons;let i = index" (click)="AddPerson(item,i)" [ngClass]="{'text-graylight': item.selected}" class="d-table w-100">
                          <td style="width:50%;">{{item.Fname}} {{item.Lname}}</td>
                          <td style="width:50%;">{{item.offi_tel}}</td>
                        </tr>
                      </tbody>
                    </table> -->
              <!-- <div class="bg-violet-less  border-radius padding d-flex">
                      <div class="bg-white float-left padding margin-left"
                        *ngFor="let item of department.DepartmentPerson;let i = index">{{item.Fname}} {{item.Lname}}<i
                          class="far fa-times-circle margin-left link" (click)="DeletePerson(item,i)"></i></div>
                    </div> -->

            </form>
          </aside>
        </div>

      </div>
    </modal-content>
    <modal-footer class="text-center">
      <div class="text-center margin-top-20">
        <button (click)="SaveOrganization()" data-dismiss="modal"
          class="btn btn-primary">{{'Save' | translate}}</button>
        <button class="btn btn-danger margin-left" data-dismiss="modal">{{'Cancle' | translate}}</button>
      </div>
    </modal-footer>
  </modal>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <aside class="col-sm-12  col-12 container no-margin-padding">
          <div class="modal-header bg-danger ">
            <h5 class="modal-title col-sm-12  col-12 text-center  text-white" id="exampleModalLongTitle">
              คุณต้องการลบหรือไม่
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="container padding">
            <div class="col-sm-8  col-8 float-left">
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3  col-3 col-form-label">{{'name' | translate}}
                  {{department?.DepartmentName}}</label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-sm-12  col-12">
              <button (click)="SaveDeleteDepartment()" data-dismiss="modal"
                class="btn btn-primary">{{'Save' | translate}}</button>
              <button class="btn btn-danger margin-left" data-dismiss="modal">{{'Cancle' | translate}}</button>
            </div>
          </form>
        </aside>
      </div>
    </div>
  </div>
</div>