<div class="full-body ">
  
  <div class="col-sm-12 margin-top-20 padding">
    <div class="col-sm-10 offset-sm-1">
      <div class="bg-danger row col-sm-12 text-center text-white padding justify-content-center">
        <h5>{{'password-management.PasswordManagement' | translate}}</h5>
      </div>
      <div class="row col-sm-12 padding display-table border-bottom-2-gray padding-tb-10">
        <div class="float-left margin-left-15p">
          <h4>{{'password-management.CreatingPassword' | translate}}</h4>
          <div>{{'password-management.AllowCreatePasswordBySystem' | translate}}</div>
        </div>
        <div class="float-right  margin-right-15p">
          <label class="switch margin-top-15p">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="row col-sm-12 padding display-table border-bottom-2-gray padding-tb-10">
        <div class="float-left margin-left-15p">
          <h4>{{'password-management.CreatePasswordBySelf' | translate}}</h4>
          <div>{{'password-management.AllowCreatePasswordBySelf' | translate}}</div>
        </div>
        <div class="float-right  margin-right-15p">
          <label class="switch margin-top-15p">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="container margin-top-30">
        <table class="table text-center">
          <thead class="thead-light">
            <tr>
              <th scope="col">{{'password-management.No' | translate}}</th>
              <th scope="col">{{'password-management.Application' | translate}}</th>
              <th scope="col">{{'password-management.Username' | translate}}</th>
              <th scope="col">{{'password-management.Password' | translate}}</th>
              <th scope="col">{{'password-management.Datetime' | translate}}</th>
              <th scope="col">{{'password-management.Status' | translate}}</th>
              <th scope="col">{{'password-management.Edit' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of data.password  | slice: (data.pageNum-1) * data.pageSize : (data.pageNum-1) * data.pageSize + data.pageSize">
              <th scope="row">{{item.id}}</th>
              <td>{{item.ApplicationName}}</td>
              <td>{{item.OldUsername}}</td>
              <td>xxx</td>
              <td>{{item.CreateDate}}</td>
              <td>{{item.IsActive}}</td>
              <td data-toggle="modal" data-target="#exampleModalCenter" (click)="Edit(item)" class="link"><i
                  class="fas fa-edit"></i></td>
            </tr>

          </tbody>
        </table>
        <div *ngIf="data.password?.length == 0" class="col-12 col-sm-12 font-size-48 margin-top-20 text-center">
            {{'NotFoundData' | translate}}
          </div>
      </div>
    </div>
  </div>
 

  <div class="clearfix"></div>
  <div class="col-12 justify-content-center margin-top-10">
    <ngb-pagination [(page)]="data.pageNum" [pageSize]="data.pageSize" [maxSize]="5"
      [collectionSize]="data.password?.length"></ngb-pagination>
  </div>
  <div class="modal fade" #modal id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <aside class="col-sm-12 container no-margin-padding">

          <div class="modal-header bg-danger ">
            <h5 class="modal-title col-sm-12 text-center  text-white" id="exampleModalLongTitle">
              {{'password-management.PasswordManagement' | translate}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="container padding-20">
            <div class="col-sm-8 offset-sm-2">
              <div class="form-group">
                <label for="exampleInputEmail1">{{'password-management.Username' | translate}}</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  [(ngModel)]="passwordData.OldUsername" name="username">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">{{'password-management.OldPassword' | translate}}</label>
                <input type="text" [ngClass]="{' is-invalid': err == 'oldpassword'}" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="passwordData.OldPassword"
                  name="oldpassword">
                <div *ngIf="err == 'oldpassword'" class="invalid-feedback">
                  Please check!
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">{{'password-management.NewPassword' | translate}}</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  [(ngModel)]="passwordData.NewPassword" [ngClass]="{' is-invalid': err == 'newpassword'}"
                  name="newpassword">
                <div *ngIf="err == 'newpassword'" class="invalid-feedback">
                  Please check!
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">{{'password-management.PasswordConfirm' | translate}}</label>
                <input type="text" class="form-control" name="confirmpassword"
                  [(ngModel)]="passwordData.ConfirmPassword" [ngClass]="{' is-invalid': err == 'confirmpassword'}"
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                <div *ngIf="err == 'confirmpassword'" class="invalid-feedback">
                  Please check!
                </div>
              </div>
              <div class="form-group row">
                <div class="float-left col-sm-6">
                  <input type="checkbox" class="margin-right-5 float-left" name="rememberme" />
                  <div class="font-size-15 text-gray">{{'RememberMe' | translate}}</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword"
                  class="col-sm-3 col-form-label">{{'password-management.Status' | translate}}</label>
                <div class="col-sm-7 offset-sm-2">
                  <select class="form-control" name="isActive" [(ngModel)]="passwordData.IsActive" required>
                    <option value="1" class=" text-center">{{'Active' | translate}}</option>
                    <option value="0" class=" text-center">{{'InActive' | translate}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="text-center col-sm-12">
              <button class="btn btn-primary" (click)="SavePassword()"
                data-dismiss="modal">{{'Save' | translate}}</button>

              <button class="btn btn-danger margin-left" data-dismiss="modal">{{'Cancle' | translate}}</button>
            </div>
          </form>
        </aside>
      </div>
    </div>
  </div>
</div>