<app-header class="nav-header"></app-header>


<div style="z-index: 999;"  class="col-sm-2 d-none d-md-block no-padding side-menu bule-violet text-center"
  *ngIf="data.page == 'application'">

  <div class="full-body text-white margin-bottom-10" *ngIf="data.page == 'application'">
    <div class="bg-white padding-bottom-30 padding-top-30 ">
      <i class="far fa-user-circle font-size-60 text-bule-violet padding" (click)="util.GoPerson(data.userData.data[0].PersonId,'userProfile')"></i>
      <div class="col-12 ">
        <span class="border-bottom-3 text-bule-violet">{{data.userData.data[0].Fname}}
          {{data.userData.data[0].Lname}}</span>
      </div>
    </div>
    <div class="scroll-y d-block mxh-400 float-left w-100">

      <div class="w-100">
        <div class="w-100 text-left padding text-white">{{'Home.historyOfLogin' | translate}}</div>
        <div class="text-bule-violet">
          <div class="w-100 text-left padding bg-light margin-top-10 margin-bottom-10"
            *ngIf="data.page == 'application'">
            <div *ngFor="let item of data?.applicationLog">
              <i class="fas fa-user-circle font-size-25 text-danger d-inline"></i> {{item.EventLog}}
              <div class="d-inline margin-left">
                <div class="d-inline">{{item.CreateDate}}</div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<section>
  
  <nav style="z-index: 1000;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler wt-50 padding-side0" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon w-100"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-center margin-auto">
        <li (click)="Page('home')" *ngIf="data.userData.data[0].PermissionMenu.hasApplication" [ngClass]="{'active': data.page == 'application'}" [routerLink]="[ '/home']"
          class="nav-item link">
          <a class="nav-link">{{'Menu.1' | translate}}</a>
        </li>
        <li class="nav-item link" *ngIf="data.userData.data[0].PermissionMenu.hasPerson" [routerLink]="[ '/person']" (click)="Page('person')"
          [ngClass]="{'active': data.page == 'person' }">
          <a class="nav-link">{{'Menu.2' | translate}}</a>
        </li>
        <li class="nav-item dropdown" *ngIf="data.userData.data[0].PermissionMenu.hasOrganization || data.userData.data[0].PermissionMenu.hasDepartment || data.userData.data[0].PermissionMenu.hasGroup">
          <a class="nav-link dropdown-toggle" href="#" [ngClass]="{'active': click == 'department'}" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'Menu.3' | translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngIf="data.userData.data[0].PermissionMenu.hasOrganization" (click)="Page('department')"
              [routerLink]="[ '/organization']">{{'Menu.3' | translate}}</a>
            <a class="dropdown-item" *ngIf="data.userData.data[0].PermissionMenu.hasDepartment" (click)="Page('department')" [routerLink]="[ '/department']">{{'Menu.4' | translate}}</a>
            <a class="dropdown-item" *ngIf="data.userData.data[0].PermissionMenu.hasGroup" (click)="Page('department')"
              [routerLink]="[ '/group']">{{'Menu.5' | translate}}</a>
          </div>
        </li>

        <li class="nav-item" *ngIf="data.userData.data[0].PermissionMenu.hasDashboard">
          <a class="nav-link" (click)="Page('dashboard')" [ngClass]="{'active': click == 'dashboard'}"
            [routerLink]="[ '/dashboard']">{{'Menu.6' | translate}}</a>
        </li>
        <li class="nav-item dropdown" *ngIf="data.userData.data[0].PermissionMenu.hasChangePassword 
        || data.userData.data[0].PermissionMenu.hasPasswordManage 
        || data.userData.data[0].PermissionMenu.hasBackUp 
        || data.userData.data[0].PermissionMenu.hasPermission
        || data.userData.data[0].PermissionMenu.hasAuditLog
        ">
          <a class="nav-link dropdown-toggle" href="#" [ngClass]="{'active': click == 'setting'}" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'Menu.7.name' | translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngIf="data.userData.data[0].PermissionMenu.hasChangePassword" (click)="Page('setting')"
              [routerLink]="[ '/change-password']">{{'Menu.7.0' | translate}}</a>
            <a class="dropdown-item" (click)="Page('setting')" *ngIf="data.userData.data[0].PermissionMenu.hasPasswordManage"
              [routerLink]="[ '/manage-password']">{{'Menu.7.1' | translate}}</a>
            <a class="dropdown-item" (click)="Page('setting')" *ngIf="data.userData.data[0].PermissionMenu.hasBackUp"
              [routerLink]="[ '/manage-data']">{{'Menu.7.2' | translate}}</a>
            <a class="dropdown-item" (click)="Page('setting')" *ngIf="data.userData.data[0].PermissionMenu.hasPermission"
              [routerLink]="[ '/manage-role']">{{'Menu.7.3' | translate}}</a>
            <a class="dropdown-item" (click)="Page('setting')" *ngIf="data.userData.data[0].PermissionMenu.hasAuditLog"
              [routerLink]="[ '/audit-log']">{{'Menu.7.4' | translate}}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</section>