<nav class="navbar navbar-light bg-header text-bule-violet-light border-bottom box-shadow-bottom">
  <a class="navbar-brand" href="#">
    <img src="assets/image/logo1.png" width="150px" alt="">
  </a>
  <form class="form-inline">
    <input class="form-control border-15" type="search" placeholder="Search" aria-label="Search">
  </form>

  <div class="padding">
    <div class="float-right">
      <div class="float-left"><u>
          <div>ไทย</div>
        </u></div>
      <div class="float-left margin-left">|</div>
      <div class="float-left margin-left">
        <div>Eng</div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="line bule-violet-light"></div>
    <div class="float-right">
        <div class="float-left padding">
          <i class="fas fa-user-circle"></i>
         <b>Admin</b> 
        </div>
        <div class="float-left padding link" (click)="Logout()">
          <i class="fas fa-sign-out-alt"></i>
          <b>Logout</b>
        </div>
    </div>

  </div>


</nav>