<div class="container col-sm-12">

  <div class="col-sm-10 float-left font-size-15">
    <div class="col-sm-12 display-table d-flex justify-content-center margin-top-20 padding border">
      <div class="top-right link">
        <i class="fas fa-edit text-bule-violet-light"></i>
      </div>
      <div class="bottom-right link margin-right-5">
        <i class="fas fa-trash text-bule-violet-light"></i>
      </div>
      <div class="padding">
        <div class="margin-top-10 float-left">
          <i class="fas fa-user-circle fa-7x text-bule-violet"></i>
        </div>
        <div class="float-left margin-left margin-top-5p">
          <div class="float-left">
            <span class="float-left">
              <span class="text-bule-violet-light  float-left">รหัสพนักงาน</span>
              <span class="margin-left float-left">112233</span>
            </span>
            <span class=" margin-left-20 float-left">
              <span class="text-bule-violet-light  float-left">ชื่อ - นามสกุล</span>
              <span class="margin-left float-left">สมศักดิ์ สารดี</span>
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">เบอร์โทรภายใน</div>
              <div class="margin-left float-left">232</div>
            </div>
            <div class=" margin-left-20 float-left">
              <div class="text-bule-violet-light  float-left">อีเมล์</div>
              <div class="margin-left float-left">somsak@gmail.com</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">ฝ่ายงาน</div>
              <div class="margin-left float-left">สำนักงานผู้จัดการ</div>
            </div>
            <div class=" margin-left-20 float-left">
              <div class="text-bule-violet-light  float-left">ตำแหน่ง</div>
              <div class="margin-left float-left">พนักงานธุรการ</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-12 display-table d-flex justify-content-center margin-top-20 padding border">
      <div class="top-right link">
        <i class="fas fa-edit text-bule-violet-light"></i>
      </div>
      <div class="bottom-right link  margin-right-5">
        <i class="fas fa-trash text-bule-violet-light"></i>
      </div>
      <div class="padding">
        <div class="margin-top-10 float-left">
          <i class="fas fa-user-circle fa-7x text-bule-violet"></i>
        </div>
        <div class="float-left margin-left margin-top-5p">
          <div class="float-left">
            <span class="float-left">
              <span class="text-bule-violet-light  float-left">รหัสพนักงาน</span>
              <span class="margin-left float-left">112233</span>
            </span>
            <span class=" margin-left float-left">
              <span class="text-bule-violet-light  float-left">ชื่อ - นามสกุล</span>
              <span class="margin-left float-left">สมศักดิ์ สารดี</span>
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">เบอร์โทรภายใน</div>
              <div class="margin-left float-left">232</div>
            </div>
            <div class=" margin-left float-left">
              <div class="text-bule-violet-light  float-left">อีเมล์</div>
              <div class="margin-left float-left">somsak@gmail.com</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">ฝ่ายงาน</div>
              <div class="margin-left float-left">สำนักงานผู้จัดการ</div>
            </div>
            <div class=" margin-left float-left">
              <div class="text-bule-violet-light  float-left">ตำแหน่ง</div>
              <div class="margin-left float-left">พนักงานธุรการ</div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="col-sm-2 float-left d-flex justify-content-center">
    <div class="text-center col-sm-12 no-padding">
      <div class="link text-bule-violet-light" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fas fa-plus-circle"></i>
        เพิ่มข้อมูล
      </div>
      <div
        class="display-table  d-flex justify-content-center  border-radius text-bule-violet-light padding  margin-top-10">
        <i class="fas fa-arrow-circle-down font-size-25 float-left"></i>
        <div class="float-left margin-left  font-size-20">Import</div>
      </div>
      <div
        class="display-table  d-flex justify-content-center  border-radius text-bule-violet-light padding margin-top-10">
        <i class="fas fa-arrow-circle-up text-green  font-size-25 float-left"></i>
        <div class="float-left margin-left  font-size-20">Export</div>
      </div>
      <div class="col-sm-12 bule-violet-light margin-top-10 display-table no-padding text-bule-violet-light">
        <div class="bg-white col-sm-12 margin-top-30 float-left">
          ประวัติการแก้ไข
          <i class="fas fa-edit"></i>
        </div>
        <div class="col-sm-12 text-white display-table bule-violet-light-white padding font-size-12">
          <div class="full-body display-table  padding border-bottom-1">
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">25/11/2018</div>
              <div class="float-right">มีนา</div>
            </div>
            <div class="clearfix"></div>
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">ชื่อ</div>
              <div class="float-right">11:20</div>
            </div>
          </div>
          <div class="full-body display-table  padding border-bottom-1">
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">25/11/2018</div>
              <div class="float-right">มีนา</div>
            </div>
            <div class="clearfix"></div>
            <div class="full-body">
              <div class="float-left d-flex justify-content-start">ชื่อ</div>
              <div class="float-right">11:20</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <aside class="col-sm-12 container no-margin-padding">
          <div class="modal-header bg-danger ">
            <h5 class="modal-title col-sm-12 text-center  text-white" id="exampleModalLongTitle">เพิ่มรายละเอียดบุคคล
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="container padding">
            <div class="col-sm-8 float-left">
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">ชื่อนาม-สกุล</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">ตำแหน่ง</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">ชื่อผู้ใช้งาน</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">รหัสผ่าน</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">ยืนยันรหัสผ่าน</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <div class="float-left offset-sm-3 col-sm-6">
                  <input type="checkbox" class="margin-right-5 float-left" />
                  <div class="font-size-12 text-gray">จดจำข้อมูลของฉัน</div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 float-left margin-top-10p">
              <div class="text-center">
                <img src="assets/image/user.png" alt="">
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-sm-12">
              <button class="btn btn-primary">บันทึก</button>
              <button class="btn btn-danger margin-left" data-dismiss="modal">ยกเลิก</button>
            </div>
          </form>

          <div>
            <div class="padding">เพิ่มข้อมูลการติดต่อ</div>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="text-center">ประเภท</th>
                  <th scope="col" class="text-center">รายละเอียดข้อมูล</th>
                  <th scope="col" class="text-center">ข้อมูลหลัก</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-group col-sm-12">
                      <select class="form-control" required>
                        <option value="email">อีเมล์</option>
                      </select>
                    </div>
                  </td>
                  <td><input class="col-form-label col-sm-12" type="text" name="" id=""></td>
                  <td>
                    <div class="form-group col-sm-12">
                      <select class="form-control" required>
                        <option value="1">ข้อมูลหลัก</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-center"><i class="fas fa-phone fa-2x"></i></td>
                  <td class="text-center"><b>088-321-1232</b></td>
                  <td class="text-center"><i class="fas fa-star fa-lg text-gray"></i></td>
                </tr>
                <tr>
                  <td class="text-center"><i class="far fa-envelope fa-2x"></i></td>
                  <td class="text-center"><b>ba@ko.in.th</b></td>
                  <td class="text-center"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>