<div class="container col-sm-12 col-12 ">
  <div *ngIf="data.persons?.length == 0" class="col-sm-10 float-left font-size-48 margin-top-10p text-center">
    {{'NotFoundData' | translate}}
  </div>
  <div class="col-sm-2 col-12 float-right d-flex justify-content-center">
    <div class="text-center col-sm-12 col-12 no-padding">
      <div class="link text-bule-violet-light margin-top-20" *ngIf="data.personPermission.Add == '1'" (click)="InsertPerson()">
        <i class="fas fa-plus-circle"></i>
        {{'buttonInsert' | translate}}
      </div>
      <input type="file" name="" id="" #excelImport (change)="ImportExcel($event)" [(ngModel)]="files" accept=".xlsx"
        hidden>
      <div (click)="excelImport.click()" *ngIf="data.personPermission.Import == '1'" 
        class="display-table link  d-flex justify-content-center  border-radius text-bule-violet-light padding  margin-top-10">
        <i class="fas fa-arrow-circle-down font-size-25 float-left"></i>

        <div class="float-left margin-left  font-size-20">Import</div>

      </div>
      <div (click)="ExportExcel()" *ngIf="data.personPermission.Export == '1'" 
        class="display-table  d-flex justify-content-center link border-radius text-bule-violet-light padding margin-top-10">
        <i class="fas fa-arrow-circle-up text-green  font-size-25 float-left"></i>
        <div class="float-left margin-left  font-size-20">Export</div>
      </div>
      <div
        class="d-none d-md-block col-sm-12 col-12 bule-violet-light margin-top-10 display-table no-padding text-bule-violet-light">
        <div class="bg-white col-sm-12 col-12 margin-top-30 float-left">
          {{'history.edit' | translate}}

        </div>
        <div class="scroll-y d-block mxh-400 float-left w-100">
          <div class="col-sm-12 col-12 text-white display-table bule-violet-light-white padding font-size-15">
            <div class="full-body display-table  padding border-bottom-1 overflow-auto"
              *ngFor="let item of data?.personLog">
              <div class="full-body">
                <div class="float-left d-flex justify-content-start">{{item.Date}}</div>
                <div class="float-right">{{item.Month}}</div>
              </div>
              <div class="clearfix"></div>
              <div class="full-body">
                <div class="float-left d-flex justify-content-start">{{item.EventLog}}</div>
                <div class="float-right">{{item.Time}}</div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="col-sm-10 col-12 float-left font-size-20  margin-bottom-10">
    <div class="col-sm-12 col-12 display-table d-flex justify-content-center margin-top-20 padding border"
      *ngFor="let item of data.persons | slice: (data.pageNum-1) * data.pageSize : (data.pageNum-1) * data.pageSize + data.pageSize">
      <div class="top-right link" *ngIf="data.personPermission.Edit == '1'"  (click)="EditPerson(item)">
        <i class="fas fa-edit text-bule-violet-light"></i>
      </div>
      <div class="bottom-right link margin-right-5" *ngIf="data.personPermission.Delete == '1'"  (click)="DeletePerson(item)" data-toggle="modal"
        data-target="#deleteModal">
        <i class="fas fa-trash text-bule-violet-light"></i>
      </div>
      <div class="padding col-12 col-sm-6 ">
        <div class="margin-top-10 float-left col-12 col-sm-4 text-center">
          <i class="fas fa-user-circle fa-7x text-bule-violet"></i>
        </div>
        <div class="float-left margin-left margin-top-5p col-sm-7">
          <div class="float-left">
            <span class="float-left">
              <span class="text-bule-violet-light  float-left">{{'Personal.userId' | translate}}</span>
              <span class="margin-left float-left">{{item.UserId}}</span>
            </span>
            <div class="clearfix"></div>
            <span class="float-left">
              <span class="text-bule-violet-light  float-left">{{'fullname' | translate}}</span>
              <span class="margin-left float-left"><span translate="{{item.Title}}"></span>{{item.Fname}} {{item.Lname}}</span>
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">{{'internalPhone' | translate}}</div>
              <div class="margin-left float-left">{{item.Offi_tel}}</div>
            </div>
            <div class="clearfix"></div>
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">{{'email' | translate}}</div>
              <div class="margin-left float-left">{{item.Email}}</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="float-left">
            <div class="float-left">
              <div class="text-bule-violet-light  float-left">{{'department' | translate}}</div>
              <div class="margin-left float-left">{{item.Depart}}</div>
            </div>
            <div class=" margin-left-20 float-left">
              <div class="text-bule-violet-light  float-left">{{'position' | translate}}</div>
              <div class="margin-left float-left">{{item.Position}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="col-12 justify-content-center mb-5">
    <ngb-pagination [(page)]="data.pageNum" [pageSize]="data.pageSize" [maxSize]="5"
      [collectionSize]="data.persons?.length"></ngb-pagination>
  </div>

  <modal #myModal>
    <modal-header class="col-12 no-padding">
      <h5 class="modal-title col-sm-12 col-12 text-center float-left text-white">
        <span *ngIf="isInsert">{{'Personal.AddPerson' | translate}}</span>
        <span *ngIf="!isInsert">{{'Personal.EditPerson' | translate}}</span>
      </h5>
      <button type="button" class="close no-margin ab" (click)="CloseModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </modal-header>
    <modal-content>
      <div>
        <div class="modal-content">
          <aside class="col-sm-12 col-12 container no-margin-padding">

            <form class="container padding">
              <div class="col-sm-8 col-8 float-left">
                <div class="form-group row">
                  <label for="inputPassword"
                    class="col-sm-4 col-4 col-form-label">{{'Personal.userId' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <input type="text" class="form-control" (keyup)="KeyData('userId')"
                      [ngClass]="{'is-invalid': err.userId }" [disabled]="data.UserItem.isUserProfile" name="userId" [(ngModel)]="person.UserId">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword"
                    class="col-sm-4 col-4 col-form-label">{{'Permission.PermissionName' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <select class="form-control" name="permission" [disabled]="data.UserItem.isUserProfile" (change)="KeyData('permission')"
                      [ngClass]="{'is-invalid': err.permission}" [(ngModel)]="person.PermissionId">
                      <option *ngFor="let item of permission" value="{{item.PermissionId}}">{{item.PermissionName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-4 col-4 col-form-label">{{'prename' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <select class="form-control" name="preName" [disabled]="data.UserItem.isUserProfile" (change)="KeyData('preName')"
                      [ngClass]="{'is-invalid': err.preName}" [(ngModel)]="person.PreName">
                      <option value="mr">{{'mr' | translate}}</option>
                      <option value="mrs">{{'mrs' | translate}}</option>
                      <option value="miss">{{'miss' | translate}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-4 col-4 col-form-label">{{'name' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <input type="text" class="form-control"  [disabled]="data.UserItem.isUserProfile" name="name" (keyup)="KeyData('Fname')"
                      [ngClass]="{'is-invalid': err.Fname}" [(ngModel)]="person.Fname">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-4 col-4 col-form-label">{{'lastname' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <input type="text" class="form-control" [disabled]="data.UserItem.isUserProfile" (keyup)="KeyData('Lname')"
                      [ngClass]="{'is-invalid': err.Lname}" name="lastname" [(ngModel)]="person.Lname">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-4 col-4 col-form-label">{{'phone' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <input type="text" class="form-control"  (keyup)="KeyData('phone')"
                      [ngClass]="{'is-invalid': err.phone}" name="phone" [(ngModel)]="person.Phone">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-4 col-4 col-form-label">{{'email' | translate}}</label>
                  <div class="col-sm-8  col-8">
                    <input type="text" class="form-control" (keyup)="KeyData('email')"
                      [ngClass]="{'is-invalid': err.email}" name="email" [(ngModel)]="person.Email">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-4 col-4 col-form-label">{{'department' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <select class="form-control" [disabled]="data.UserItem.isUserProfile" (change)="KeyData('department')"
                      [ngClass]="{'is-invalid': err.department}" name="department" [(ngModel)]="person.Depart">
                      <option *ngFor="let item of getDepartment?.data">{{item.departmentname}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-4 col-4 col-form-label">{{'position' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <input type="text" [disabled]="data.UserItem.isUserProfile" (keyup)="KeyData('position')" [ngClass]="{'is-invalid': err.position}"
                      class="form-control" name="position" [(ngModel)]="person.Position">
                  </div>
                </div>

              </div>

              <div class="col-sm-4  col-4 float-left ">
                <div class="text-center">
                  <input type="file" name="" id="" #uploader (change)="uploadFile($event)" accept="image/*" hidden>
                  <img class="rounded-circle image-cover" src="{{image}}" height="200px" width="200px" alt=""
                    (click)="uploader.click()">

                </div>
              </div>

            </form>

            <!-- <div>
                <div class="padding">เพิ่มข้อมูลการติดต่อ</div>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="text-center">ประเภท</th>
                      <th scope="col" class="text-center">รายละเอียดข้อมูล</th>
                      <th scope="col" class="text-center">ข้อมูลหลัก</th>
                      <th scope="col" class="text-center"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-group col-sm-12  col-12">
                          <select class="form-control" required [(ngModel)]="contactType">
                            <option value="1">เบอร์โทร</option>
                            <option value="2">อีเมล์</option>
                            <option value="3">facebook</option>
                            <option value="4">line</option>
                            <option value="5">instagram</option>
                            <option value="6">twitter</option>
                          </select>
                        </div>
                      </td>
                      <td><input class="col-form-label col-sm-12  col-12" [(ngModel)]="contactDiscription" type="text"
                          name="" id=""></td>
                      <td>
                        <div class="form-group col-sm-12  col-12">
                          <select class="form-control" [(ngModel)]="importance" required>
                            <option value="1">ข้อมูลหลัก</option>
                            <option value="2">ข้อมูลรอง</option>
                          </select>
                        </div>
                      </td>
                      <td (click)="AddContact()" class="link">
                        <i style="color: rgb(69, 172, 0)" class="padding fas fa-plus-circle fa-lg"></i>
                      </td>
                    </tr>
                    <tr *ngFor="let item of contactList;let i = index">
                      <td class="text-center" *ngIf="item.TypeContactId == '1'"><i class="fas fa-phone fa-2x"></i></td>
                      <td class="text-center" *ngIf="item.TypeContactId == '2'"><i class="fas fa-envelope fa-2x"></i></td>
                      <td class="text-center" *ngIf="item.TypeContactId == '3'"><i class="fab fa-facebook-square fa-2x"></i>
                      </td>
                      <td class="text-center" *ngIf="item.TypeContactId == '4'"><i class="fab fa-line fa-2x"></i></td>
                      <td class="text-center" *ngIf="item.TypeContactId == '5'"><i class="fab fa-instagram fa-2x"></i></td>
                      <td class="text-center" *ngIf="item.TypeContactId == '6'"><i class="fab fa-twitter-square fa-2x"></i>
                      </td>
                      <td class="text-center"><b>{{item.Contact}}</b></td>
                      <td (click)="SetActiveItem(i)" class="text-center link"><i
                          [ngClass]="{'text-yellow': item.IsActive == '1', 'text-gray':  item.IsActive == '2'}"
                          class="fas fa-star fa-lg"></i></td>
                    </tr>
    
                  </tbody>
                </table>
              </div> -->
          </aside>
        </div>

      </div>
    </modal-content>
    <modal-footer class="text-center">
      <div class="clearfix"></div>
      <div class="text-center col-sm-12  col-12">
        <button (click)="SavePerson()" class="btn btn-primary">{{'Save' | translate}}</button>
        <button class="btn btn-danger margin-left" (click)="CloseModal()">{{'Cancle' | translate}}</button>
      </div>
    </modal-footer>
  </modal>
  <modal #permissionModal>
    <modal-header class="col-12 no-padding">
      <h5 class="modal-title col-sm-12 col-12 text-center float-left text-white">
        <span *ngIf="isInsert && !data.UserItem.isUserProfile">{{'Personal.AddPerson' | translate}}</span>
        <span *ngIf="!isInsert && !data.UserItem.isUserProfile">{{'Personal.EditPerson' | translate}}</span>
        <span *ngIf="data.UserItem.isUserProfile">{{'Personal.UserProfile' | translate}}</span>
      </h5>
      <button type="button" class="close no-margin ab" (click)="CloseModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </modal-header>
    <modal-content>
      <div>
        <div class="modal-content">
          <aside class="col-sm-12 col-12 container no-margin-padding">

            <form class="container padding">
              <div class="col-sm-8 col-8 float-left">

                <div class="form-group row">
                  <label for="inputPassword"
                    class="col-sm-4 col-4 col-form-label">{{'Permission.PermissionName' | translate}}</label>
                  <div class="col-sm-8 col-8">
                    <select class="form-control" name="permission" (change)="KeyData('permission')"
                      [ngClass]="{'is-invalid': err.permission}"  [(ngModel)]="permissionSelect">
                      <option *ngFor="let item of permission" value="{{item.PermissionId}}">{{item.PermissionName}}
                      </option>
                    </select>
                  </div>
                </div>


              </div>


            </form>

          </aside>
        </div>

      </div>
    </modal-content>
    <modal-footer class="text-center">
      <div class="clearfix"></div>
      <div class="text-center col-sm-12  col-12">
        <button (click)="SavePermission()" class="btn btn-primary">{{'Save' | translate}}</button>
        <button class="btn btn-danger margin-left" (click)="ClosePermissionModal()">{{'Cancle' | translate}}</button>
      </div>
    </modal-footer>
  </modal>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <aside class="col-sm-12  col-12 container no-margin-padding">
          <div class="modal-header bg-danger ">
            <h5 class="modal-title col-sm-12  col-12 text-center  text-white" id="exampleModalLongTitle">
              {{'deleteConfirm' |translate }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="container padding">
            <div class="col-sm-8  col-8 float-left">
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-12  col-12 col-form-label">{{'name' | translate}}
                  {{person?.Title}}{{person?.Fname}} {{person?.Lname}}</label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-sm-12  col-12">
              <button (click)="SaveDeletePerson()" data-dismiss="modal"
                class="btn btn-primary">{{'Save' | translate}}</button>
              <button class="btn btn-danger margin-left" data-dismiss="modal">{{'Cancle' | translate}}</button>
            </div>
          </form>
        </aside>
      </div>
    </div>
  </div>

</div>